CV_IvanPalmegiani_DE.md
CV_IvanPalmegiani_DE.pdf
CV_IvanPalmegiani.md
CV_IvanPalmegiani.pdf
images
Pic_CV_900x1200.jpg
Pic_CV.jpg
Pic_CV.jpg.xmp
Resume_IvanPalmegiani_DE.md
Resume_IvanPalmegiani_DE.pdf
Resume_IvanPalmegiani.md
Resume_IvanPalmegiani.pdf
